{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>JOKER</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo velit exercitationem debitis amet, temporibus
            maxime eveniet laboriosam quibusdam qui molestias ducimus fugit quia omnis? Error, cum repudiandae? Ex,
            accusamus velit.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/joker.jpg" class="img-thumbnail" alt="">
    </div>

</div>

{{> footer }}